.promo{
    margin-bottom: 63px;
}

.promo__content{
    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;

    border-radius: 59px;
    background-color: #f4f5f6;
}

.promo__text{

}

.promo__title{
    font-size: 96px;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 40px;
}

.promo__desc{
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.05em;
    
}

.prom__btn-wrapper{
    
}

.promo__btn{

}