.promo{
    margin-bottom: 63px;
}

.promo__content{
    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;

    border-radius: 59px;
    background-color: #f4f5f6;
}

.promo__text{

}

.promo__title{
    font-size: 96px;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 36px;
    max-width: 480px;
}


.promo__desc{
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.05em;
    padding-bottom: 46px;
}

.prom__btn-wrapper{
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.prom__btn-wrapper::before{
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url(../../fashion-images/icons/decor-yellow.svg);
}

.promo__btn{
    padding: 18px 40px;

    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.05em;
    
    background: black;
    border-radius: 10px;
}
.highlight{
    position: relative;
    display: inline-block;
}

.highlight::before{
    content: "";
    display: relative;
    position: absolute;
    top: -3px;
    bottom: 11px;
    left: -36px;
    right: -171px;
    background-color: #fff;
    rotate: -2deg;
}

.highlight span {
    position: relative;
    z-index: 1;
}

.highlight__yellow{
    position: relative;
    display: inline-block;
}

.highlight__yellow::before{
    content: "";
    display: relative;
    position: absolute;
    top: -9px;
    bottom: 11px;
    left: -25px;
    right: -98px;
    background-color: var(--yellow);
    rotate: -2deg
}

.highlight__yellow span {
    position: relative;
    z-index: 1;
}